button {
  border: 2px solid #808080;
  border-radius: 5px;
  font-weight: 700;
  height: 40px;
  margin: 0px;
  width: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button.danger {
  background: hsla(0, 86%, 57%, 0.9);
  color: #ffffff;
}

button.danger:hover {
  background: hsla(0, 86%, 57%, 1);
}

button.default {
  color: #000000;
  background: hsla(0, 0%, 95%, 0.8);
}

button.default:hover {
  background: hsla(0, 0%, 90%, 1);
}

button.primary {
  background: hsla(204, 64%, 40%, 0.93);
  color: #ffffff;
  flex-grow: 1;
}

button.primary:hover {
  background: hsla(204, 64%, 40%, 1);
}
